@import 'common.scss';
@import 'mixin.scss';
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include justify(space-between);
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(44px);
    border-bottom: solid pxTorem(1px) #eee;
    font-size: pxTorem(20px);
    line-height: pxTorem(44px);
    text-align: center;
}

section {
    @include flex;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, #F7F7F7, #fff);
    .title {
        width: 100%;
        height: pxTorem(50px);
        line-height: pxTorem(50px);
        text-align: center;
        font-size: pxTorem(20px);
        font-weight: bold;
        color: #504A4D;
    }
    .container {
        width: 100%;
        height: pxTorem(160px);
        .swiper-wrapper {
            width: 30%;
            height: 100%;
            .swiper-slide {
                width: pxTorem(130px)!important;
                height: 100%;
                margin: 0 pxTorem(10px);
            }
        }
        .slide1 {
            background: pink;
        }
        .slide2 {
            background: skyblue;
        }
        .slide3 {
            background: green;
        }
        .slide4 {
            background: blue;
        }
    }
    .content {
        padding: 0 pxTorem(13px);
        background: #fff;
        @include sizing;
        width: 100%;
        dl {
            width: 100%;
            height: pxTorem(130px);
            border-bottom: solid pxTorem(1px) #ccc;
            padding: pxTorem(15px) 0;
            @include sizing;
            @include box_flex;
            dt {
                width: pxTorem(160px);
                height: pxTorem(100px);
                margin-left: pxTorem(10px);
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: pxTorem(10px);
                }
            }
            dd {
                p:nth-child(1) {
                    font-weight: bold;
                    font-size: pxTorem(18px);
                    color: #504A4D;
                }
                p:nth-child(2) {
                    color: gray;
                    font-size: pxTorem(15px);
                    line-height: pxTorem(20px);
                    margin-top: pxTorem(5px);
                    margin-bottom: pxTorem(18px);
                }
                p:nth-child(3) {
                    color: #ccc;
                    font-size: pxTorem(13px);
                }
            }
        }
    }
}